stepfunc.json
{
  "Comment": "Launch Spot Instances or Ondemand Instances",
  "StartAt": "RequestSpotInstances",
  "States": {
    "RequestSpotInstances": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:RequestSpotInstances",
      "Next": "waitBidding"
    },
    "waitBidding": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetBiddingResult"
    },
    "GetBiddingResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:GetBiddingResult",
      "Next": "CheckResult"
    },
    "CheckResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.LaunchedInstances",
          "StringEquals": "0",
          "Next": "RequestOndemandInstances"
        }
      ],
      "Default": "SendNotification"
    },
    "RequestOndemandInstances": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:RequestOndemandInstances",
      "Next": "SendNotification"
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:SendNotification",
      "End": true
    }
  }
}